name: Build video-drivers-ps4-build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    container:
      image: archlinux:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize Arch keyring
        run: |
          pacman-key --init
          pacman-key --populate archlinux

      - name: Update system and install dependencies
        run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm base-devel git

      - name: Compile using PKGBUILD
        working-directory: video-drivers-ps4-build
        run: |
          echo "%root ALL=(ALL:ALL) NOPASSWD: ALL" >> /etc/sudoers
          useradd -m someuser
          usermod -aG root someuser
          usermod --password pleasefuckingwork someuser
          su someuser /bin/bash -c 'makepkg --noconfirm -s'
          
      - name: Compress artifacts
        working-directory: video-drivers-ps4-build
        run: |
          tar -czvf artifacts.tar.xz *.pkg.tar.zst --remove-files

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: video-drivers-ps4-build
          path: video-drivers-ps4-build/artifacts.tar.xz
